.center {
    text-align: center;
}
.heading {
    font-size: 40px;
    text-align: center;
}

.grid {
    background-color: #80d8ff;
}

/*Button*/
.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
    margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px; }
.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    font-size: 14px;
    opacity: 0.54; }




/*main content styling*/

    .selectdemoBasicUsage p {
        padding: 0 20px;
        text-align: center; }
    .selectdemoBasicUsage p.md-caption {
        color: #777; }
    .selectdemoBasicUsage .demo-content {
        min-height: 348px; }

